:root {
    --surface-color: #fff;
    --curve: 40;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #fef8f8;
  }
  .row{
  /* padding: 10px; */
    margin-left: -150px;
  }
  .col{
  height:  10px !important;
  width: 1px !important;
 margin: 5px !important;
  }
  .cards {
     display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr)); 
     gap: 1rem;
     margin: 1rem 0.5vw; 
    padding: 0;
    list-style-type: none;
    margin: 1px !important;

  }
  /* li.cc{
    right: 1px !important;
  } */

a.card{
  height: 200px;
  width: 240px;

  
  /* border-left: -10px; */
}

  .card {
    /* position: relative; */
    /* display: block; */
    height: 50%;  
    width: 50%;
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
   /* border: 10px !important; */
   /* position: "absolute";
    bottom: "4px" !important;
     left: "200px" !important;  */
     /* border-left: 10px !important; */
     margin: 15px 5px  !important;
    
  }
  
  .card__image {      
    width: 100%;
    height: auto;
  }
  
  .card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;      
    border-radius: calc(var(--curve) * 1px);    
    background-color: var(--surface-color);      
    transform: translateY(100%);
    transition: .2s ease-in-out;
  }
  
  .card:hover .card__overlay {
    transform: translateY(0);
  }
  
  .card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 0.1em;
    border-radius: calc(var(--curve) * 1px) 0 0 0;    
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
  }
  
  .card__arc {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 100%;
    right: 0;      
    z-index: 1;
  }
  
  .card__arc path {
    fill: var(--surface-color);
    d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
  }       
  
  .card:hover .card__header {
    transform: translateY(0);
  }
  
  .card__thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;      
    border-radius: 50%;      
  }
  
  .card__title {
    font-size: 1em;
    margin: 0 0 .3em;
    color: #6A515E;
  }
  
  .card__tagline {
    display: block;
    margin: 1em 0;
    font-family: "MockFlowFont";  
    font-size: .8em; 
    color: #D7BDCA;  
  }
  
  .card__status {
    font-size: .8em;
    color: #D7BDCA;
  }
  
  .card__description {
    padding: 0 2em 2em;
    margin: 0;
    color: #D7BDCA;
    font-family: "MockFlowFont";   
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }    
